body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    margin: 20px auto;
}

.title {
    margin-bottom: 20px;
}

#wordContainer {
    margin: 20px;
    font-size: 24px;
}

#lettersContainer {
    margin: 20px;
}

#message {
    margin: 20px;
    font-weight: bold;
}
